DATABASE_URL="mysql://username:password@localhost:3306/portfolio_db"
PORT=4000
JWT_SECRET="a3f9c2e8d1b6a4f7e0c9b2d5a8f1e4c7b0a3d6f9e2c5b8a1d4f7e0c3b6a9d2f5"
JWT_EXPIRES_IN="7d"
CLIENT_URL="http://localhost:4200"